{% extends '@BkstgCore/layout.html.twig' %}
{% set page_title = "Directory"|trans %}
{% block content %}
  {% for row in profiles|batch(3) %}
    <div class="row">
      {% for profile in row %}
        <div class="col-md-4">
          {% include '@BkstgFOSUser/Profile/show-teaser.html.twig' with { 'profile': profile } only %}
        </div>
      {% endfor %}
    </div>
  {% endfor %}
{% endblock %}
