{% trans_default_domain 'BkstgFOSUserBundle' %}

{% set route = app.request.attributes.get('_route') %}
<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link{% if route == 'bkstg_production_membership_update' %} active{% endif %}" href="{{ url('bkstg_production_membership_update', { 'production_slug': membership.group.slug, 'id': membership.id }) }}">{{ 'edit'|trans }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if route == 'bkstg_production_membership_delete' %} active{% endif %} text-danger" href="{{ url('bkstg_production_membership_delete', { 'production_slug': membership.group.slug, 'id': membership.id }) }}">{{ 'delete'|trans }}</a>
  </li>
</ul>
